doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/styles.css")
        title Document
    body 
        //- редактор

        //- .block#block
        //-     picture 
        //-         img(src="img/bluescreen.png", alt="")
        //- .content
        //-     div#text.highlight(contenteditable="true") 
        //-     form(action="") 
        //-         label(for="color") 
        //-         input#color.color(type="color")
        //-         label(for="italic") 
        //-         input#italic.italic(type="button" value="K")
        //-         label(for="normal") 
        //-         input#normal.normal(type="button" value="N")
        //-         input#fontSize(type="range" name="" min="14" max="48")
        //-         label(for="fontSize") check text size px

        //- редактор коду емет

        //- .redactor.d-flex
        //-     .html
        //-         textarea.emmet-syntax-html.html.code-redactor#html(name="html", cols="53" placeholder="html")
        //-     .css 
        //-         textarea.emmet-syntax-css.code-redactor.css#css(name="css", cols="53" placeholder="css")
        //-     .js 
        //-         textarea.emmet-syntax-js.code-redactor.js#js(name="js", cols="53" placeholder="js")
        //- .view-block#viewBlock
        //-     h1 View your code
        //-     style 


        .circle1.circle 
        .circle2.circle 
        .circle3.circle 


    //- script(src="js/emmet.min.js")
    script(src="js/scripts.js")